@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add a container for the background rockets */
.bg-rockets-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  /* Style the individual rocket elements */
  .bg-rocket {
    position: absolute;
    top: -100px;
    left: 50%;
    width: 40px;
    height: 100px;
    background-color: #f00; /* Adjust the background color to your preference */
    transform: translateX(-50%);
    animation: moveRocket linear infinite;
    animation-duration: 10s;
  }
  
  /* Keyframes animation for moving the rockets */
  @keyframes moveRocket {
    0% {
      transform: translateX(-50%) translateY(-100%);
    }
    100% {
      transform: translateX(-50%) translateY(120%);
    }
  }
  